.container{
    top: 169px;
    left: 40px;
    width: 300px;
    height: 150px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin: 5px;
}
.topGrid{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 80% 20%;
}
.iconGrid{
    border-radius:  80px 0px 80px 80px;
    height: 60px;
    background-color: #B3B3B3 ;
}
.marginAuto{
    margin-left: 20%;
}
.number{
    text-align: left;
    font: normal normal bold 36px/44px Proxima Nova;
    letter-spacing: 0px;
    color: #B3B3B3;
    opacity: 1;
}
.numberContainer{
    padding-top: 10px ;
    padding-left: 20px;
}
.descContainer{
    margin-top: 40px ;
    padding-left: 20px;
}
.sub{
    text-align: left;
    font: normal normal normal 12px/15px Proxima Nova;
    letter-spacing: 0px;
    color: #8E8E8E;
    opacity: 1;
    padding-top:10px ;
}
.type{
    text-align: left;
    font: normal normal bold 14px/17px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}