.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width : 250px;
    margin-top: 80px ;
    background-color: #F5F5F5;
  }



  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #444;
    padding: 10px 15px;
    border: none;
    background-color: white;

  }


  #main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: white;
  }
  .navbarItems{
      padding: 10px 20px;
  }
  .dFlex{
      display: flex;
      box-shadow: 0px 1px 6px #2C2C2C1C;
  }
  .cubicom{
      padding: 15px;
  }
  .navbarRight{
      margin-left: auto;
  }
  .navbarSelect{
      margin-left: auto;
      margin-right:-60% ;
      padding: 20px;
  }
  .select{
      padding-top: 7px;
      padding-bottom: 7px ;
      padding-left:5px ;
      padding-right: 100px;
      border-radius: 4px;
      opacity: 1;
      border: 1px solid #CACACA ;
      background-color: white;
  }
  .circle{
      height: 50px ;
      width: 50px;
      border-radius: 50%;
      color: black;
      margin: 10px;
      background-color: black;
  }
  .displayFlex{
      display: flex;
  }
  .logos{
      min-width: 25px;
  }

  .bottomHide{
      margin-top: 230%;
      margin-left: 200px;
  }
.bottomLogo{
    margin-left: -10px;
    cursor: pointer;
}
.container{
    padding: 50px 30px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}
.dashboard{
    text-align: left;
    font: normal normal bold 22px/27px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.search{
    width: 20px;
    padding: 10px;
    border: none;
    background-color: #B3B3B3;
    border-radius: 50px;
    background-image: url('../../logos/search.svg');
    transition: width 2s;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

.search:hover {
    width: 100px;
    background-color: #2C2C2C;
    border: none;
  }
  .search:focus{
    outline: none;
  }
  .searchBtn{
      margin-left: auto;
  }
  .calendar{
    margin-left: 20px;
  }
  .calendar  img{
    background-color:#B3B3B3 ;
    border-radius: 15px;
    height: 30px;
  }

  .dateSpan{
      padding-left:5px;
      padding-top: 10px;
  }
  .calendar:hover{
    background-color: #2C2C2C;
    color: white;
    border-radius: 20px;
    padding-top: 5px;
  }

  .grid{
    display: grid;
    grid-template-columns:70% 30% ;
    grid-template-rows: auto;
  }

  .cards{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #EAEAEA;
    border-radius: 10px;
    opacity: 1;
    display: flex;
  }
  .table{
      margin-top: 50px;
      padding-left: 30px;
  }
  .tableHead{
    text-align: left;
    font: normal normal bold 22px/27px Proxima Nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
  }
  .paginationBox{
      margin-top: 20px;
      margin-left: auto ;
  }
  .pagination {
    display: inline-block;
    margin-left: 70% ;
  }
  .pagination a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }

  .pagination a.active {
    border: 1px solid teal;
  }
